.outlet{
  margin-top: 20px;
}

.display-flex-row{
  display:flex;
  gap: 8px;
}

.display-flex-col{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}
a{
  text-decoration: none;
}